body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header-container {
    background-color: #1F2937;
    width: auto;
    justify-content: center;
    padding: 0 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font: 48px Roboto 900;
}

.hero-container {
    display: flex;
    justify-content: space-evenly;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

p.herop{
    color: #f9faf8;
}

.bonix {
    width: 500px;
    height: auto;
    margin-bottom: 30px;

}
.quote {
    background-color: #E5E7EB;
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 150px 300px;
}

p.author {
    text-align: right;
    font-weight: bold;
    padding: 0;
    font-style: normal;
}

.logo {
    width: 150px;
    height: 150px;
}

.random {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 30px 300px;
    gap: 10px;
    padding: 0;
}

img.imgrow {
    border: 2px solid #3882f6;
    border-radius: 9px;
    padding: 10px;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    margin: 50px 300px;
    width: auto;
    height: 100px;
    border-radius: 8px;
}
 p.actionheader {
    font-weight: 700;
    color: #E5E7EB;
    font-size: 24px;
    margin: 0;
 }

 p.actiontext {
    color: #E5E7EB;
    margin: 0;
 }

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    align-content: center;
    height: 100px;
    margin: 0;
}

.button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    border-radius: 8px;
    width: 150px;
    height: 50px;
}